<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
	version="1.0.0.0" id="Day">

  <name>What day is it?</name>

  <author>Alex Guilmoto</author>

  <description>
       An app to tell you what day it is.
  </description>
  
	<feature id="blackberry.app" version="1.0.0.0" required="true"/>
	<feature id="blackberry.invoke" version="1.0.0.0" required="true"/>
	<feature id="blackberry.connection" />
  
  <icon rim:hover="false" src="res/icon/blackberry/114by114_00005.png" />
  <icon rim:hover="true" src="res/icon/blackberry/114by114_00005.png" />
  
  <rim:permissions>
    <rim:permit></rim:permit>
  </rim:permissions>

  <rim:loadingScreen backgroundColor="#CFCFCF"
                     foregroundImage="res/screen/blackberry/1024by768_00005.png"
		     onFirstLaunch="true">
    <rim:transitionEffect type="fadeOut" />
  </rim:loadingScreen>

  <content src="whatdayisit.html" />

</widget>
